.thank_you_img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.selected{
  width: 100%;
  border-radius: 25px;
  padding: 8px 12px;
  background-color: hsl(211, 19%, 24%);
  margin: 1.5rem auto;
  text-align: center;
  color: hsl(25, 97%, 53%); 
}

.selected:hover{
 color: hsl(0, 0%, 100%);
 background-color: hsl(216, 12%, 54%);
}

.thank_you_title{
  color: hsl(0, 0%, 100%);
  margin: 5px 0 5px 0;
  text-align: center;
}

.text{
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-bottom: 0.5rem;
  line-height: 1.4rem;
  text-align: center;
}

.rate_again button{
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 12px 0;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
  letter-spacing: 1.5px;
  font-family: inherit;
  font-weight: 700;
}

.rate_again button:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}